{% extends 'menu-vertical-parametres.html.twig' %}

{% block title %}Modifier un Dépôt{% endblock %}

{% block mbody %}
<div class="p-5 border rounded bg-light">
    <div class="mb-3 text-center">
        <h1 style="font-weight: 500;">Modifier un Dépôt</h1>
    </div>

    {{ form_start(editDepotForm) }}
    {{ form_widget(editDepotForm) }}
    <div class="modal-footer px-0">
        <button type="submit" class="btn btn-primary" style="font-size: 16px;">Enregistrer</button>
    </div>
    {{ form_end(editDepotForm) }}
</div>
{% endblock %}