body {
    font-family: 'Open Sans', sans-serif !important;
    color: rgb(65, 65, 66);
}

a {
    text-decoration: none !important;
    outline: none;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
}

.nav-link:hover {
    color: #0275d8 !important;
}

.mvp {
    color: rgb(65, 65, 66);
    font-size: 15px;
    font-weight: bold;
}

.btnmdsup {
    box-shadow: none ! important;
    outline: none ! important;
    font-size: 18px;
}

.btnmdsup:hover {
    color: #007bff;
}

.delete:hover {
    color: red !important;
}